@page "/profile"
@inject IOrderService OrderService

<AuthorizeView>
    <h3 class="mt-2">Hej @context.User.Identity.Name!</h3>
    <p>Du är inloggad nu.</p>

    <h3 class="mt-5 mb-2">Din Beställning</h3>

    @if(orders == null)
    {
        <span>Ladda din beställning...</span>
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"></span>
        </div>
    }
    else if(orders.Count <= 0)
    {
        <span>Du har ingen beställning</span>
    }
    else
    {
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Produkt</th>
              <th scope="col">Orderstatus</th>
              <th scope="col">Pris</th>
              <th scope="col">Beställningsdatum</th>
            </tr>
          </thead>
          <tbody>
               @foreach(var order in orders)
               {
                    <tr>
                      <th>@order.ProductInfo</th>
                      <td>@order.OrderStatus</td>
                      <td>@order.TotalPrice SEK</td>
                      <td>@order.OrderDate</td>
                    </tr>             
               } 
          </tbody>
        </table>       
    }
    </AuthorizeView>

@code {
    List<OrderResponse> orders = new List<OrderResponse>();

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }
}
