@inject IProductService ProductService

@if(ProductService.Products == null || ProductService.Products.Count == 0)
{
    <span>Ladda Produkter...</span>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
}
else
{
    @foreach(var product in ProductService.Products)
    {
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="@product.ImageUrl" class="img-fluid rounded-start" alt="@product.ProductName">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <a href="product/@product.Id"><h5 class="card-title">@product.ProductName</h5></a>
                        <p class="card-text font-weight-light">@product.CategoryName</p>
                        <p class="card-text">@product.Description</p>
                        <p class="card-title color-danger">@product.Price SEK</p>
                    </div>
                </div>
            </div>
        </div>
    }
}



@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }
}
