@inject HttpClient Http

@foreach(var product in Products)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@product.ImageUrl" class="img-fluid rounded-start" alt="@product.ProductName">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="font-weight-light">@product.CategoryName</p>
                    <p class="card-text">@product.Description</p>
                    <p class="card-title color-danger">@product.Price SEK</p>
                </div>
            </div>
        </div>
    </div>
}


@code {

    private static List<Product> Products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Product>>("api/Products");
        if(result != null)
            Products = result;

    }
}
